<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="DiscouragedApi,LockedOrientationActivity">

    <application
        android:name="afkt.gtpush.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:theme="@style/AppTheme">

        <activity
            android:name="afkt.gtpush.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="afkt.gtpush.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="afkt.gtpush.MessageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="afkt.gtpush.SecondaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ============= -->
        <!-- 推送消息中转路由 -->
        <!-- ============= -->

        <activity
            android:name="afkt.gtpush.push.PushTransferRouter"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>