<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.gtpush">

    <application>

        <!-- ========== -->
        <!-- 个推推送配置 -->
        <!-- ========== -->

        <service
            android:name="dev.gtpush.GTPushService"
            android:exported="false"
            android:label="PushService"
            android:process=":pushservice" />

        <service
            android:name="dev.gtpush.GTPushIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- =========== -->
        <!-- 第三方厂商配置 -->
        <!-- =========== -->

    </application>
</manifest>